  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <img
        src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQI39pgmKPfgKXEleF_FiMuU2KPjyyJKI0SyquMXNglejALZjkb"
        alt="" height="100" width="100">
      <a class="navbar-brand" href="">Maheswari</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        </ul>
        <form class="d-flex" role="search">
          <ul class="navbar-nav ms-auto">
            <li>
              <button class="btn btn-outline-success btn-lg download-button" type="submit">list your business</button>
            </li>
            <li>
              <button class="btn btn-outline-success btn-lg download-button buton" type="submit">sign in/up</button>
            </li>
          </ul>


        </form>
      </div>
    </div>
  </nav>